$tablet-max: 1023px;
$desktop-min: 1440px;

@mixin tablet {
  @media (max-width: $tablet-max) {
    @content;
  }
}
@mixin desktop {
  @media (max-width: $desktop-min) {
    @content;
  }
}
.App {
  .header {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.8);
    .container {
      width: 1440px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      .logo {
        width: 150px;
      }
      .nav {
        .listWrap {
          display: flex;
          list-style: none;
          li {
            margin: 0 20px;
            a {
              color: #222;
              text-decoration: none;
              transition: 0.5s;
              font-size: 18px;
              &:hover {
                color: yellowgreen;
                font-weight: bold;
              }
            }
          }
        }
      }
      .mobileBar {
        display: none;
        .hamburerIcon {
          font-size: 30px;
        }
        .nav {
          display: block;
          position: absolute;
          top: 83px;
          left: 0;
          width: 100%;
          z-index: 150;
          ul {
            flex-direction: column;
            padding: 0;
            background: rgba(255, 255, 255, 0.8);
            li {
              border-bottom: 1px solid #ddd;
              padding: 10px 0;
            }
          }
        }
      }
      .btn {
        background: none;
        width: 80px;
        border-radius: 5px;
        padding: 10px 5px;
      }
    }
  }

  // 메인 슬라이드
  .mainSlide {
    width: 100%;
    img {
      width: 100%;
    }
  }

  .mdPick {
    width: 1440px;
    margin: 0 auto;
    padding: 100px 0;

    h2 {
      position: relative;
      &::after {
        content: "";
        width: 30px;
        height: 25px;
        position: absolute;
        top: -10px;
        left: -10px;
        z-index: -1;
        background: rgb(161, 226, 131);
      }
    }
    .mdList{
      ul{ display: flex; width: 100%; padding: 0; margin: 0; justify-content: space-around;
        li{ list-style: none; display: flex; flex-direction: column; position: relative;flex-basis: 28%; transition: .5s;
         /*  &:not(:last-child){ margin-right: 20px; } */
          &:hover .bg { opacity: 1;}
          .md-img{width: 100%;
          img{width: 100%;}}
          .md-name{ font-size: 1.2rem;}
          .md-price{}
          .bg{ position: absolute; top: 0 ; left: 0; width: 100%; height: 100%; background: rgba(255, 255, 255, 0.479); opacity: 0; box-sizing: border-box; padding: 30px;}

        }
      }
    }
  }
.banner{width: 100%; background: teal; height: 200px;
display: flex; justify-content:  center; align-items: center;}
  .products {
    max-width: 1440px;
    margin: 0 auto;
    padding: 100px 0;
    box-sizing: border-box;
    h2 {
      box-sizing: border-box;
      position: relative;
      &::after {
        content: "";
        width: 30px;
        height: 25px;
        position: absolute;
        top: -10px;
        left: -10px;
        z-index: -1;
        background: rgb(161, 226, 131);
      }
    }
    .p-list {
      box-sizing: border-box;
      display: flex; flex-wrap: wrap;
      justify-content: space-between;
     a{ color: black; text-decoration: none;
 width: 23.5%;
     
       .product-card {
      
        .product-img {
          width: 100%;
        }
        .product-contents {
          display: flex;
          flex-direction: column;
          .product-name {
            font-size: 20px;
          }
          .product-price {
            font-size: 14px;
          }
          .product-seller {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            .product-avatar {
              color: #058018;
              font-size: 18px;
            }
            .seller {
            }
          }
        }
      }}
    }
  } 


  //Magazine
  .magazine{
    width: 100%;
    overflow: hidden;
    padding-top: 100px;
    margin-bottom: 30px;
    .container{
      width: 1440px; margin: 0 auto;
     .titleWrap{
    
        h2{
          position: relative;
          z-index: 1;
          &:after{
            content:"";
            width: 50px;
            height: 15px;
            background: #baf3c2;
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: -1;
            }
        }
      }
      .magazineList{
        position: relative;
        height: 300px;
        display: flex;
            .magazine-box{
              box-sizing: border-box;
              padding: 20px;
              font-size: 50px;
              width: 200px;
              height: 15%;
              position: absolute;
              left: 0;
              background: #272727;
              &::after {
                content: "";
                display: block;
                position: absolute;
                top: 5%;
                right: 10%;
                width: 30%;
                height: 100%;
                background: url(img/typomag_logo_630.png) no-repeat center center;
                background-size: 100%;
                background-position: center;
              }
             
            }
            .swiper-wrap{
              width:100%;
             
              position: absolute;
              left:230px; 
              display: flex;
              .mg-img{
                height: 100%;
                display: flex;
                margin: 0; padding: 0;
                
                img{ width: 50%;
                  
               
                }
              }
            }
          
        }
      }
    }


   .magazine1 {
    width: 100%;
    overflow: hidden;
    padding-top: 30px;
    margin-bottom: 30px;
    .container{
      width: 1440px; margin: 0 auto;
     .titleWrap{
    
        h2{
          position: relative;
          z-index: 1;
          &:after{
            content:"";
            width: 50px;
            height: 15px;
            background: #baf3c2;
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: -1;
            }
        }
      }
      .magazine-List{
        position: relative;
        height: 300px;
        display: flex;
        width: 1440px;
            
            .swiper-wrap{
              width:100%;
             
              position: absolute;
              right:230px; 
              display: flex;
              .mg-img{
                height: 100%;
                display: flex;
                margin: 0; padding: 0;
                
                img{ width: 50%;
                  
               
                }
              }
            }
            .magazine-box{  
              box-sizing: border-box;
              padding: 20px;
              font-size: 50px;
              width: 200px;
              height: 15%;
              position: absolute;
              right: 0;
              background: #272727;
              &::after {
                content: "";
                display: block;
                position: absolute;
                top: 5%;
                right: 10%;
                width: 30%;
                height: 100%;
                background: url(img/typomag_logo_630.png) no-repeat center center;
                background-size: 100%;
                background-position: center;
              }
            /*   span{position: absolute; top:0px; left: 0px;  color: white; margin-left: 10%; }
              .m  {top:calc(73px * 0); left: 10px}
              .al {top:calc(73px * 1); left: 60px;  }
              .g  {top:calc(73px * 2); left: 60px;  }
              .a2 {top:calc(73px * 3); left: 70px;  }
              .z  {top:calc(73px * 4); left: 50px;  }
              .i  {top:calc(73px * 5); left: 60px;  }
              .n  {top:calc(73px * 6); left: 60px;  }
              .e  {top:calc(73px * 7); left: 30px;  } */
            }
          
        }

      }
    }


.foot-bg{ 
  width: 100%; height: 300px;background: rgb(184, 182, 173);
  .container{ width: 1400px; margin: 0 auto; padding: 50px 0; display: flex; 
    .footer-addr{ 
      .foot-logo{ width: 150px; margin-bottom: 50px; margin-right: 100px;
        span{}
        
      }
      address{font-style: normal; margin-right: 100px; width: 100%;}
        .copy{}
    }
    .footer-menu{ width: 100%;
      >ul{display: flex; width: 100%; box-sizing: border-box;
          >li{ list-style: none;  flex-basis: 33.3%;
            >a{text-decoration: none; color:  black;  display: block; margin-bottom: 20px;}
            ul{ padding: 0;
              li{ list-style: none;
                a{text-decoration: none;color:  black; font-size: 14px; }
              }
            }
          }
      }
    }
  }
}



  @include desktop {
    .header {
      width: 100%;
      height: 100px;
      border-bottom: 1px solid #ccc;
      background: rgba(255, 255, 255, 0.8);
      .container {
        width: 100%;
        padding: 0 2rem;
        box-sizing: border-box;
      }
    }
    .mdPick {
      width: 100%;
      margin: 0 auto;
      padding: 80px 20px;
      box-sizing: border-box;
      .banner{
        p{font-size: 150%; transition: .5s;}
      }
  
  
    }
    .products {
      width: 100%;
      box-sizing: border-box;
      padding: 100px 20px;
   
    }
    .foot-bg{width: 100%;
  
    .container {margin: 0; width: 100%; box-sizing: border-box; padding: 50px 20px;}
   
  }
  }

  @include tablet {
    .header {
      .container {
        width: 100%;
        padding: 0 2rem;
        box-sizing: border-box;
        h1 {
          order: 2;
        }
        .logo {
        }
        .nav {
          display: none;
        }
        .mobileBar {
          display: block;
          order: 1;
        }
        .btn {
          background: none;
          width: 80px;
          border-radius: 5px;
          padding: 10px 5px;
          order: 3;
        }
      }
    }
    .products {
      width: 100%;
      margin: 0 auto;
      padding: 20px 20px;
    }
  }
}
